<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <LevelPatternSelector>
                    <PatternMatch key="ERROR" pattern="%highlight{%-5level} %d{HH:mm:ss} %c{3} %m%n"/>
                    <PatternMatch key="WARN" pattern="%highlight{%-5level}%d{HH:mm:ss} %c{3} %m%n"/>
                    <PatternMatch key="INFO" pattern="%highlight{%-5level}%d{HH:mm:ss} %c{3} %m%n"/>
                    <PatternMatch key="DEBUG" pattern="%highlight{%-5level} %d{HH:mm:ss} %c{3} %n%m%n"/>
                    <PatternMatch key="TRACE" pattern="%highlight{%-5level}%d{HH:mm:ss} %c{3} %m%n"/>
                    <PatternMatch key="OFF" pattern="%m%n"/>
                </LevelPatternSelector>
            </PatternLayout>
        </Console>
        <File name="File" fileName="logs/server-${date:yyyyMMdd}.log" immediateFlush="false" append="true">
            <PatternLayout>
                <LevelPatternSelector>
                    <PatternMatch key="ERROR" pattern="%-5level %d{HH:mm:ss} %c{3} %m%n"/>
                    <PatternMatch key="WARN" pattern="%-5level%d{HH:mm:ss} %c{3} %m%n"/>
                    <PatternMatch key="INFO" pattern="%-5level%d{HH:mm:ss} %c{3} %m%n"/>
                    <PatternMatch key="DEBUG" pattern="%-5level %d{HH:mm:ss} %c{3} %n%m%n"/>
                    <PatternMatch key="TRACE" pattern="%-5level%d{HH:mm:ss} %c{3} %m%n"/>
                    <PatternMatch key="OFF" pattern="%m%n"/>
                </LevelPatternSelector>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>